#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url(4k-movie-projector-picjumbo-com.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;                    /* <--- закомментировать
  background-size: 120%;                        <--- раскомемнтировать ---> для анимации бекграунда
  animation: bg-pan-sequence 16s both infinite; <--- раскомментировать */
}

@-webkit-keyframes bg-pan-sequence {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 0%;
  }

  50.01% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

@keyframes bg-pan-sequence {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 0%;
  }

  50.01% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}